No token has incorrect status code

### Checklist

- [x] I have looked into the [Readme](https://github.com/auth0/auth0-fastapi-api#readme) and [Examples](https://github.com/auth0/auth0-fastapi-api/blob/master/EXAMPLES.md), and have not found a suitable solution or answer.
- [x] I have looked into the [API documentation](https://auth0-fastapi-api.readthedocs.io/en/latest/) and have not found a suitable solution or answer.
- [x] I have searched the [issues](https://github.com/auth0/auth0-fastapi-api/issues) and have not found a suitable solution or answer.
- [x] I have searched the [Auth0 Community](https://community.auth0.com) forums and have not found a suitable solution or answer.
- [x] I agree to the terms within the [Auth0 Code of Conduct](https://github.com/auth0/open-source-template/blob/master/CODE-OF-CONDUCT.md).

### Description

When there is no bearer token require_auth incorrectly throws 400 status code with error code invalid_request. [RFC 6750 section 3.1](https://datatracker.ietf.org/doc/html/rfc6750#section-3.1) explicitly states (after discussion of which error code to use when and what status code should be used):

 If the request lacks any authentication information (e.g., the client
   was unaware that authentication is necessary or attempted using an
   unsupported authentication method), the resource server SHOULD NOT
   include an error code or other error information.

   For example:

     HTTP/1.1 401 Unauthorized
     WWW-Authenticate: Bearer realm="example"




### Reproduction

1. access api with no token
2. receive status 400 with invalid_request error code

### Additional context

_No response_

### auth0-fastapi-api version

1.0.0b3

### Python version

3.12.9

I found this too